@model AspNetMvcActiveDirectoryOwin.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "clearfix", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Domain, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Domain, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Domain, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <button id="btnSubmit" type="submit" value="Sign In" class="btn btn-primary">
            Sign In
        </button>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#Domain').focus();
    });
</script>