@model AspNetMvcActiveDirectoryOwin.Web.Common.Models.TraceLogs.TraceLogModel

@Html.HiddenFor(model => model.Id)
<div class="popup-editor-md">
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PerformedOn)
                <div data-format="g" data-bind="text: @Html.IdFor(model => model.PerformedOn)"></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PerformedBy)
                <div data-bind="text: @Html.IdFor(model => model.PerformedBy)"></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Action)
                <div data-bind="text: @Html.IdFor(model => model.Action)"></div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Controller)
                <div data-bind="text: @Html.IdFor(model => model.Controller)"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Message)
        <div data-bind="text: @Html.IdFor(model => model.Message)"></div>
    </div>
</div>